{% extends "layout.html" %}
{% block content %}

    <h1>
        Welcome to Netbank MR/MRS/MISS {{ current_user.username }}
    </h1>
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Choose a person to send money to:</legend>
                <div class="form-group">
                   {{form.recipient.label}}
                   {{form.recipient}}
                </div>
                <div class="form-group">
                    {{form.amount.label}}
                    {{form.amount}}
                 </div>
                 <div class="form-group">
                    {{form.submit.label}}
                    {{form.submit}}
                 </div>
        </form>
    </div>
    <p>
        <a href="{{url_for('logout')}}">
            <button onclick="document.location='index.html'">Logout</button>
        </a>
    </p>
{% endblock %}