{% extends "layout.html" %}
{% block content %}

    <h1>
        Welcome User x
    </h1>
    <p>
        <form>
            <label for="users">Choose a person to send money to:</label>

            <select name="users" id="users">
            <option value="user1">user 1</option>
            <option value="user2">user 2</option>
            <option value="user3">user 3</option>
            <option value="user4">user 4</option>
            </select>
            <input type="text">
            <input type="submit" name="" id="" value="send money">
    
        </form>

        <table>
            <tr>
                <th>Account</th>
                <th>Amount</th> 
                <th>Currency</th>
                </tr>
                <tr>
                <td>Debit</td>
                <td>100</td>
                <td>USD</td>
            </tr>
                <tr>
                <td>Savings</td>
                <td>50</td>
                <td>USD</td>
                </tr>
        </table>

        <a href="index.html">
            <button onclick="document.location='index.html'">Logout</button>
        </a>
    </p>
{% endblock %}