{% extends "layout.html" %}

{% block content %}
    <h1>Log In</h1>
    <form method="POST" action="" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }} <br>
            {% if form.username.errors %}
            <div class="invalid-feedback">
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            </div>
            {% endif %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
        
        <a href="{{ url_for('register')}}">
            <button type="button" class="btn">Register new user</button>
        </a>

        <a href="{{ url_for('index')}}">
            <button type="button" class="cancelbtn">Cancel</button>
        </a>

    </form>
{% endblock %}